@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0F172A;
  --accent-color: #3B82F6;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Alexandria', sans-serif;
  direction: rtl;
  background-color: #000000;
  color: #ffffff;
}